{% load tags %}
<li><a href="{{path}}" {% if request.path|current_path:menu.slug %} style="color: red" {% endif %}>{{ menu.name }}</a>
    <ul>
    {% if menu.children %}
        {% if "/"|add:menu.slug|add:"/" in request.path %}
            {% for child in menu.children.all %}
                {% with menu=child path=path|add:child.slug|add:"/" template_name="submenu.html" %}
                       {% include template_name %}
                {% endwith %}
            {% endfor %}
        {% endif %}
    {% endif %}
    </ul>
</li>
